.content {

}

.actions-wrapper {
  margin-top: 30px;

  .actions {
    li {
      display: inline-block;
      margin: {
        right: 5px;
        left: 5px;
      };

      i {
        @extend .blue-grey-text, .text-darken-2;
      }
    }
  }
}

.articles-wrapper {
  .article {
    @extend .blue-grey-text, .text-darken-1;
    @include transition(.1s);

    border-bottom: 1px solid $grey-lighten-2;

    .row {
      margin-bottom: 0; // Reset
    }

    .created-at {
      cursor: pointer;

      p:first-child {
        margin-bottom: 0;
        line-height: 1em;
        font: {
          weight: 700;
          size: 1.6em;
        };
      }

      p:last-child {
        margin-top: 0;
        font-size: 1.2em;
      }
    }

    .title {
      a {
        color: inherit;

        h3 {
          font: {
            size: 1.3em;
            weight: 300;
          };
        }
      }
    }

    .category {
      i {
        font-size: 1.4em;
      }
    }

    &:hover {
      @extend .grey.lighten-3;
    }

    &.half-height {
      .created-at {
        p:first-child {
          font-size: 1em;
        }

        p:last-child {
          font-size: 0.8em;
        }
      }

      .title {
         h3 {
          font-size: 1em;
        }

        p {
          display: none;
        }
      }

      .category {
        i {
          font-size: 1em;
        }
      }
    }

    &.on-update {
      @extend .grey.lighten-2;

      .title {
        a {
          display: none;
        }

        .actions {
          display: block;
        }
      }
    }
  }
}

.up {
  @include transition(.1s);

  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}



//       .article {
//         &.half-height {
//           h3 {
//             font-size: 1.15em;
//           }

//           p {
//             display: none;
//           }

//           i {
//             font-size: 1em;
//           }
//         }

//         a {
//           @extend .blue-grey-text, .text-darken-2;

//           p {
//             font-size: 0.9em;
//             color: $blue-grey-lighten-2;
//           }

//           i {
//             font-size: 1.45em;
//             color: $blue-grey-lighten-2;
//           }
//         }
//       }
//     }
