.pagination {
  a {

  }

  .active {

  }
}

.content {

}

.actions-wrapper {
  margin-top: 30px;

  .actions {
    li {
      display: inline-block;
      margin: {
        right: 5px;
        left: 5px;
      };

      i {
      }
    }
  }
}

.articles-wrapper {
  .article {

    &.card-panel {
      padding: 0;
    }

    .row {
      margin-bottom: 0;
    }

    &.keep {
      .keep {
        i {
        }
      }
    }

    .keep {
      i {

        &:hover {
        }
      }
    }

    .created-at {
      cursor: pointer;

      p:first-child {
        margin-bottom: 0;
        line-height: 1em;
        font: {
          weight: 700;
          size: 1.6em;
        };
      }

      p:last-child {
        margin-top: 0;
        font-size: 1.2em;
      }
    }

    .title {
      a {
        color: inherit;

        h3 {
          font: {
            size: 1.3em;
            weight: 300;
          };
        }
      }
    }

    .category {
      i {
        font-size: 1.4em;
      }
    }

    &:hover {
    }

    &.half-height {
      .created-at {
        p:first-child {
          font-size: 1em;
        }

        p:last-child {
          font-size: 0.8em;
        }
      }

      .title {
         h3 {
          font-size: 1em;
        }

        p {
          display: none;
        }
      }

      .category {
        i {
          font-size: 1em;
        }
      }
    }
  }
}

.up {

  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}
