<div class="actions">
  <ul class="left">
    <li><a class="alpha-sort btn-floating btn-large waves-effect white"><i class="material-icons">sort_by_alpha</i></a></li>
    <li><a class="date-sort btn-floating btn-large waves-effect white"><i class="material-icons">today</i></a></li>
  </ul>

  <ul class="right">
    <li><a class="half-height btn-floating btn-large waves-effect white"><i class="material-icons">list</i></a></li>
    <li><a class="full-height btn-floating btn-large waves-effect white"><i class="material-icons">view_list</i></a></li>
  </ul>
</div>
