<div class="row m-y-md">
  <div class="col-xs-6 col-sm-2">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtrer par site Web
      </button>

      <div class="dropdown-menu">
        <% @websites.each do |website| %>
          <a  href="#" class="dropdown-item"><%= website.name %></a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-2">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtrer par catégorie
      </button>

      <div class="dropdown-menu">
        <% @categories.each do |category| %>
          <a href="#" class="dropdown-item"><%= category.name %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
