<article class="list-group-item article" data-public-id="<%= article.public_id %>">
  <div class="test">supprimer</div>
  <div class="row">
    <div class="col-xs-1">
      <label class="c-input c-checkbox">
        <input type="checkbox">
        <span class="c-indicator"></span>
      </label>
    </div>

    <div class="col-xs-11">
      <a href="<%= article.url %>">
        <div class="row">
          <div class="col-sm-1 hidden-xs-down">
            <span class="label label-default label-pill">1</span>
          </div>

          <div class="col-xs-12">
            <h4 class="list-group-item-heading"><%= article.title %></h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</article>

  <!--
<i class="material-icons">grade</i>
%= article.created_at.strftime '%d' %>
%= article.created_at.strftime '%b' %>
 -->
