<article class="article" data-public-id="<%= article.public_id %>">
  <div class="hyper list-group-item">
    <div class="row">
      <div class="col-xs-11">
        <a href="<%= article.url %>">
          <div class="row">
            <div class="col-sm-1 hidden-xs-down">
              <span class="label label-default label-pill">1</span>
            </div>

            <div class="col-xs-12 col-sm-11">
              <h4 class="list-group-item-heading"><%= article.title %></h4>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xs-1 text-right">
        <%# http://api.rubyonrails.org/classes/ActionView/Helpers/DateHelper.html#method-i-time_ago_in_words %>
        <%= time_ago_in_words article.created_at %>
      </div>
    </div>
  </div>

  <!-- <i class="material-icons">delete</i> -->
</article>
