<aside id="aside">
  <ul>
    <% @categories.each do |category| %>
      <li><a><%= category %> <span class="hide-on-med-only"><%= Article.category(category).size %></span></a></li>
    <% end %>
  </ul>
</aside>
