<aside id="aside" class="col l2 m2 hide-on-small-only">
  <ul>
    <% @categories.each do |n| %>
      <li><a><%= n %> <span class="hide-on-med-only">(<%= Article.category(n).size %>)</span></a></li>
    <% end %>
  </ul>
</aside>
