<div class="row">
  <%= render partial: 'aside' %>

  <section id="content" class="col l10 m10 s12">
    <div id="sorts-container">
      <ul>
        <li><a class="waves-effect btn-flat"><i class="material-icons">sort_by_alpha</i>Alphabetical</a></li>
        <li><a class="waves-effect btn-flat"><i class="material-icons">today</i>Creation date</a></li>
      </ul>

      <ul>
        <li><a class="waves-effect btn-flat"><i class="material-icons">list</i>Small</a></li>
        <li><a class="waves-effect btn-flat"><i class="material-icons">view_list</i>Big</a></li>
      </ul>
    </div>

    <div id="articles-container">
      <%= render partial: 'articles' %>
      <!-- https://www.airpair.com/reactjs/posts/reactjs-a-guide-for-rails-developers -->
      <!-- http://nithinbekal.com/posts/rails-action-cable/ -->
    </div>
  </section>
</div>
