<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="actions-wrapper">
        <%= render 'actions' %>
      </div>
    </div>
  </div>

  <div class="row m-b-md">
    <div class="col-xs-12">
      <div id="articles" class="list-group">
        <%= render @articles || 'There are no articles available.' %>
      </div>
    </div>
  </div>

  <div class="navbar-fixed-bottom m-b">
    <div class="row">
      <div class="col-xs-1 p-l-md">
        <button type="button" class="btn-round btn-primary"><i class="material-icons">keyboard_arrow_up</i></button>
      </div>

      <div class="col-xs-3">
        <button type="button" class="btn-round btn-secondary"><i class="material-icons">keyboard_arrow_left</i></button>
        <button type="button" class="btn-round btn-secondary"><i class="material-icons">keyboard_arrow_right</i></button>
      </div>

      <div class="col-xs-5 col-xs-offset-3 p-r-md">
        <div id="actions-bar" class="pull-right">
          <button type="button" class="m-l btn-round btn-danger btn-delete">
            <i class="material-icons">delete</i>
          </button>

          <button type="button" class="m-l btn-round btn-warning btn-bookmark">
            <i class="material-icons">grade</i>
          </button>

          <button type="button" class="m-l btn-round btn-info btn-read-later">
            <i class="material-icons">hourglass_full</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
