<div class="row">
  <div id="actions-container" class="col l3 m12 hide-on-small-only">
    <div class="row">
      <div class="col m12">
        <div id="sorts-container">
          <ul>
            <li>
              <a class="btn-large waves-effect waves-darken green lighten-2">
                <!-- <i class="material-icons right">sort_by_alpha</i> -->
                Alphabetical
              </a>
            </li>
            <li>
              <a class="btn-large waves-effect waves-darken green lighten-2">
                <!-- <i class="material-icons left">today</i> -->
                Creation date
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col m12">
        <div id="filters-container">
          <ul>
            <% @categories.each do |n| %>
              <li>
                <a class="btn-large waves-effect waves-darken indigo lighten-2"><%= n %></a>
              </li>
            <% end %>
          </ul>

          <ul>
            <li>
              <a class="btn-large waves-effect waves-darken deep-orange lighten-2">Hackernews</a>
            </li>
            <li>
              <a class="btn-large waves-effect waves-darken deep-orange lighten-2">RubyFlow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section id="articles" class="col l9 s12">
    <%= render partial: 'articles' %>

    <!-- https://www.airpair.com/reactjs/posts/reactjs-a-guide-for-rails-developers -->

    <!-- http://nithinbekal.com/posts/rails-action-cable/ -->s
  </section>
</div>
