<canvas id="chart-percent-categories" width="500" height="400"></canvas>
<canvas id="chart-percent-websites" width="500" height="400"></canvas>

<div class="controller-data" data-percent-categories="<%= @percent_categories.to_json %>"></div>
