.header {
  .nav-wrapper {
    // @extend .white;
    @include header-background-color;

    font-weight: 300;

    li, a {
      @extend .blue-grey-text, .text-darken-2;
    }

    .button-collapse {
      display: block; // Le "hamburger" est tout le temps affiché
      margin-left: 10px;
    }
  }
}
