<div class="row">
  <div class="col l3 s12 categories-container">
    <%= react_component 'Categories', { data: @categories } %>
  </div>

  <div class="col l9 s12 news-container">
    <!-- https://www.airpair.com/reactjs/posts/reactjs-a-guide-for-rails-developers -->
    <%= react_component 'News', { data: @news } %>
  </div>
</div>
