<div class="container">
  <div class="row">
    <div class="col s2">
      <div class="card-panel center-align">
        Dark theme

        <div class="switch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>

    <div class="col s2">
      <div class="card-panel center-align">
        Refresh rate

        <p class="range-field">
          <input type="range" id="test5" min="10" max="120">
        </p>
      </div>
    </div>

    <div class="col s2">
      <div class="card-panel center-align">
        Suppress rate

        <div class="switch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>

        <p class="range-field">
          <input type="range" id="test5" min="1" max="100">
        </p>
      </div>
    </div>
  </div>
</div>
