<div class="container">
  <div class="row">
    <div class="col m4 s6">
      <div class="card-panel center-align">
        Dark theme

        <div class="switch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </div>

    <div class="col m4 s6">
      <div class="card-panel center-align">
        Refresh rate

        <p class="range-field">
          <input type="range" id="test5" min="10" max="120">
        </p>
      </div>
    </div>

    <div class="col m4 s6">
      <div class="card-panel center-align">
        Suppress rate

        <div class="switch">
          <label>
            Off
            <input type="checkbox">
            <span class="lever"></span>
            On
          </label>
        </div>

        <p class="range-field">
          <input type="range" id="test5" min="1" max="100">
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="card-panel">
        Add categories

        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>

          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="card-panel">
        Add Website

        <div class="row">
          <div class="input-field col m6 s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Title</label>
          </div>

          <div class="input-field col m6 s12">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">URL</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m6 s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">DOM selector</label>
          </div>

          <div class="input-field col m6 s12">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Prefix</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
