.btn-round {
  @extend .btn;

  width: 60px;
  height: 60px;
  padding: 0; // Reset
  padding-top: 5px;
  border-radius: 100px;
  // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
