.dropdown-toggle {
  @extend .dropdown-toggle;

  background: none;
  border: none;
  border-bottom: 1px solid $gray;
}

.dropdown-menu {
  @extend .dropdown-menu;

  border: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
