<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Scraper</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>

        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to 'Settings', settings_path %></li>
          <li><%= link_to 'Statistics', statistics_path %></li>

          <li><div class="divider"></div></li>

          <% @categories.each do |category| %>
            <li><a><%= category %><%= Article.by_category(category).size %></span></a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
