<header>
  <div class="navbar-fixed">
    <nav id="nav">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Scraper</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>

        <ul class="side-nav" id="mobile-demo">
          <li><div class="divider"></div></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
