<header>
  <nav id="nav">
    <a href="#!" class="brand-logo center">Scraper</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="left hide-on-med-and-down">
      <li><a href=""><i class="material-icons">starred</i></a></li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><div class="divider"></div></li>
    </ul>
  </nav>
</header>
